.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid var(--color-black);
  border-radius: 20px;
  background-color: white;
  text-align: center;
  padding: 20px;

  display: inline-block; // Автоматическая ширина по контенту
  max-width: 90vw; // Ограничение максимальной ширины
  min-width: 300px; // Минимальная ширина для удобства
}
