.back-button {
  &.MuiButtonBase-root {
    border: 2px solid var(--color-pink-bright);
    border-radius: 20px;
    background-color: var(--color-white);
    text-transform: none;
    color: black;
    cursor: pointer;
  }
  &:hover {
    color: var(--color-white);
    background-color: var(--color-pink-bright);
    border-color: var(--color-black-with-opacity);
  }
  &:active {
    transform: scale(0.95);
  }
}
