.layout .container {
  @media (max-width: 1330px) {
    max-width: 1200px;
  }
  @media (max-width: 1160px) {
    max-width: 1000px;
  }
  @media (max-width: 450px) {
    padding: 0px 12px;
  }
  @media (max-width: 375px) {
    padding: 0px 10px;
  }
}
