.red {
  color: var(--color-red);
}
.green {
  color: var(--color-green-dark);
}
.card {
  &__head {
    th {
      font-size: 16px;
      &:nth-child(1) {
        text-align: left;
      }
      text-align: right;
    }
    @media (max-width: 840px) {
      th {
        font-size: 14px;
      }
    }
  }
  &__body {
    td {
      font-size: 16px;
      &:nth-child(1) {
        text-align: left;
      }
      text-align: right;
    }
    @media (max-width: 840px) {
      td {
        font-size: 14px;
      }
    }
    @media (max-width: 500px) {
      td {
        padding: 10px;
      }
    }
  }
  &__link {
    color: var(--color-pink);
    cursor: pointer;
    &:hover {
      color: var(--color-black);
    }
  }
}
