.red {
  color: var(--color-red);
}
.green {
  color: var(--color-green-dark);
}
.card {
  &__head {
    th {
      font-size: 16px;
    }
  }
  &__body {
    td {
      font-size: 16px;
    }
  }
  &__link {
    color: var(--color-pink);
    cursor: pointer;
    &:hover {
      color: var(--color-black);
    }
  }
}
