.header {
  &.MuiPaper-root {
    background-color: var(--color-white);
    color: var(--header-back);
    padding: 10px 0px;
  }
  &__container {
    display: grid;
    grid-template-columns: 1fr auto;
    justify-items: start;
    align-items: center;
    font-family: "Roboto", sans-serif;
    @media (max-width: 840px) {
      p {
        font-size: 14px;
      }
    }
    @media (max-width: 670px) {
      p {
        font-size: 12px;
      }
    }
  }

  &__subtitle {
    text-align: center;
    text-decoration: underline;
  }

  &__titles {
    display: flex;
    gap: 15px;
    @media (max-width: 375px) {
      gap: 8px;
    }
  }
  &__currency {
    text-align: center;
  }
  &__section {
    &-first {
      justify-items: center;
    }
    &-second {
      display: flex;
      p:last-child {
        color: var(--color-pink);
        @media (max-width: 840px) {
          font-size: 15px;
        }
        @media (max-width: 375px) {
          font-size: 13px;
        }
      }

      button {
        margin-right: 10px;
        background-color: var(--color-pink-bright);
      }
      button:hover {
        background-color: var(--color-pink-bright);
        opacity: 0.8;
      }
      button svg {
        color: var(--color-white-some-gray);
        font-size: 30px;
      }
      @media (max-width: 840px) {
        button svg {
          font-size: 25px;
        }
      }

      @media (max-width: 670px) {
        button svg {
          font-size: 23px;
        }
      }
      @media (max-width: 450px) {
        button svg {
          font-size: 20px;
        }
      }
      @media (max-width: 375px) {
        button {
          margin-right: 5px;
        }
      }
    }
  }
}
