.form-container {
  display: grid;
  grid-template-rows: 25% 1fr;
  justify-content: center;
  text-align: center;
}
.form {
  align-self: start;
  display: grid;
  grid-template-rows: 1fr 30% 1fr;
  font-size: 16px;
  &__title {
    align-self: center;
    font-size: 20px;
    span {
      color: var(--color-pink);
    }
  }
  &__subtitle {
    align-self: center;
  }
  &__input {
    justify-self: center;
    padding: 8px 30px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 16px;
    text-align: center;
  }
  &__button {
    justify-self: center;
    border: 2px solid var(--color-pink-bright);
    background-color: var(--color-white);
    border-radius: 20px;
    padding: 12px 30px;
    margin-top: 20px;
    cursor: pointer;
  }
  &__button:hover {
    color: var(--color-white);
    background-color: var(--color-pink-bright);
    border-color: var(--color-black-with-opacity);
  }
  &__button:active {
    transform: scale(0.95);
  }
}
